<a href="https://colab.research.google.com/github/SoIllEconomist/ds4b/blob/master/python_ds4b/01_exploration/01_workflow_basics/01_workflow_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Workflow: basics

You now have some experience running Python code. I didn’t give you many details, but you’ve obviously figured out the basics, or you would’ve thrown this book away in frustration! Frustration is natural when you start programming in Python, because it is such a stickler for punctuation, and even one character out of place will cause it to complain. But while you should expect to be a little frustrated, take comfort in that it’s both typical and temporary: it happens to everyone, and the only way to get over it is to keep trying.

Before we go any further, let’s make sure you’ve got a solid foundation in running Python code, and that you know about some of the most helpful Jupyter features.

## Coding Basics

Let’s review some basics we’ve so far omitted in the interests of getting you plotting as quickly as possible. You can use Python as a calculator:

In [0]:
1 / 200 * 30

0.15

In [0]:
(59 + 73 + 2) / 3

44.666666666666664

You can create new objects (variables) with `=`:

In [0]:
x = 3 * 4

All Python statements where you create objects, **assignment** statements, have the same form:

```python
object_name = value
```

When reading that code say “object name gets value” in your head.

## What's in a name?

Programmers generally choose names for their variables that are meaningful—they document what the variable is used for.

Variable names can be as long as you like. They can contain both letters and numbers, but they can't begin with a number. It is legal to use uppercase letters, but it is conventional to use only lower case for variables names.

Object names must start with a letter, and can only contain letters, numbers and  `_.` You want your object names to be descriptive, so you'll need a convention for multiple words. I recommend **snake_case** where you separate lowercase words with `_`. The underscore character, `_`, can appear in a name. It is often used in names with multiple words.

```python
i_use_snake_case
otherPeopleUseCamelCase
And_aFewPeople_RENOUNCEconvention
```

If you give a variable an illegal name, you get a syntax error.

```python
SyntaxError: invalid syntax
```

We’ll come back to code style later when we discuss `functions`.

You can inspect an object by typing its name:

In [0]:
x

12

Make another assignment:

In [0]:
this_is_a_really_long_name = 2.5

Ooops, you made a mistake! this_is_a_really_long_name should have value 3.5 not 2.5. **Change 2.5 to 3.5 and rerun.**

Make yet another assignment

In [0]:
py_rocks = 2**3

Let's try to inspect it:

In [0]:
py_rock

NameError: name 'py_rock' is not defined

In [0]:
Py_rocks

NameError: name 'Py_rocks' is not defined

There's an implied contract between you and Python: it will do the tedious computation for you, but in return, you must be completely precise in your instructions. **Typos matter. Case matters.**

## Calling functions

Python has a large collection of built-in functions that are called like this:

```python
function_name(arg1 = val1, arg2 = val2, ...)
```
**function** is a named sequence of statements that performs a computation. 

- When you define a function, you specify the name and the sequence of statements. 

- Later, you can “call” the function by name.

We've already see a **function call**:

In [0]:
type(42)

int

- The name of the function is type. 

- The expression in parentheses is called the argument of the function. 

- The result, for this function, is the type of the **argument**.

- It is common to say that a function “takes” an argument and “returns” a result. The result is also called the **return value**.

In [0]:
int('32') # string to int

32

In [0]:
int('Hello')

ValueError: invalid literal for int() with base 10: 'Hello'

In [0]:
float(32) # int / string to float

32.0

In [0]:
float('3.14')

3.14

In [0]:
str(31) # int / float to string

'31'

Let's try using `print()` which prints objects to the text stream file, separated by `sep` and followed by `end`. `sep`, `end`, `file` and `flush`, if present, must be given as keyword arguments.

In [0]:
print("Hello", "World")

Hello World

In [0]:
print("Hello", "World", sep="_")

Hello_World

### Exercises

1. Why does this code not work:

```python
my_variable = 10
my_varlable
```
Look carefully! (This may seem like an exercise in pointlessness, but training your brain to notice even the tiniest difference will pay off when programming.)

2. Tweak each of the following commands so that they run correctly:

```python
impart seaborn as sns
tips = sns.load_dateset("tips")
sns.relplot(x="total_bill", y="tip", data=tips);
```