<a href="https://colab.research.google.com/github/SoIllEconomist/ds4b/blob/master/python_ds4b/06_sql/01_sql_jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to SQL in Jupyter Notebooks
In this section I'll illustrate how to utlize SQL within  a Jupyter Notebook environment.

In [0]:
#!pip install ipython-sql

In [0]:
%load_ext sql

In [0]:
%sql sqlite://

'Connected: @None'

In [0]:
%%sql   
CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));  
INSERT INTO EMPLOYEE VALUES('Tom','Mitchell');  
INSERT INTO EMPLOYEE VALUES('Jack','Ryan');

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [0]:
%sql SELECT * from EMPLOYEE;

 * sqlite://
Done.

[('Tom', 'Mitchell'), ('Jack', 'Ryan')]

In [0]:
!git clone https://github.com/thomasnield/oreilly_getting_started_with_sql.git

fatal: destination path 'oreilly_getting_started_with_sql' already exists and is not an empty directory.

In [0]:
%ls

00_sql_intro.ipynb  01_sql_jupyter.ipynb  oreilly_getting_started_with_sql/

In [0]:
%sql sqlite:///oreilly_getting_started_with_sql/rexon_metals.db

'Connected: @oreilly_getting_started_with_sql/rexon_metals.db'