<a href="https://colab.research.google.com/github/SoIllEconomist/ds4b/blob/master/python_ds4b/python_basics/week_3/review_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Exercises 

This exercise is to test your understanding of Python Basics. If you find this extremely challenging.

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

**What is 7 to the power of 4?**

2401

**Split this string:**

    s = "Hi there Sam!"
    
**into a list.**

['Hi', 'there', 'dad!']

**Given the variables:**

    planet = "Earth"
    diameter = 12742

**Use .format() to print the following string:**

    The diameter of Earth is 12742 kilometers.

In [0]:
planet = "Earth"
diameter = 12742

The diameter of Earth is 12742 kilometers.

**Given this nested list, use indexing to grab the word "hello"**

In [0]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

'hello'

**Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

In [0]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

'hello'

**What is the main difference between a tuple and a list?**

In [0]:
# Tuple is immutable

**Create a function that grabs the email website domain from a string in the form:**

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [0]:
domainGet('user@domain.com')

'domain.com'

**Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.**

In [0]:
findDog('Is there a dog here?')

True

**Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.**

In [0]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [0]:
seq = ['soup','dog','salad','cat','great']

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases.**

In [0]:
def caught_speeding(speed, is_birthday):
    pass

In [0]:
caught_speeding(81,True)

'Small Ticket'

In [0]:
caught_speeding(81,False)

'Big Ticket'

# Great job!